<!DOCTYPE html>
<html>
	<head>
		<title>Гавная страница</title>
	</head>
	<body>
		<h3>Главная страница приложения</h3>
		<p>Добро пожаловать</p>

		<a href="/home/employees">Сотрудники</a>

	</body>
</html>